<!doctype html>
<title>:: SBPRS ::</title>
<link rel=stylesheet type=text/css href="../static/style.css">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<body>
<div class="main" style="text-align: center;">
  <h1 style="text-align:center;">:: Sentiment Based Product Recommendation System ::</h1>
  <h5 style="text-align:center;">&lt;Developed by: Sumit Sahay&gt;</h5>

  <form action="{{url_for('recommendProducts')}}" method="post">
    <label for="username">Enter Username</label><br>
    <input type="text" id="username" name="username" placeholder="Enter Username" style="width: 20%;"><br>
    <input type="submit" value="Get Product Recommendations" style="border-radius: 5px; width: 15%;">
  </form> 
  <!-- Displaying the Recommendations -->
  {% for table in productsTable %}
    <h4>{{titles[loop.index]}}</h4>
    <span style="align-self: center;">
    {{ table|safe }}
   </span>
  {% endfor %}  
</div>
</body>
