<!doctype html>
<title>:: SBPRS ::</title>
<link rel=stylesheet type=text/css href="../static/style.css">
<body>
  <div class="header">
    <h1 style="text-align:center;">:: Sentiment Based Product Recommendation System ::</h1>
    <h5 style="text-align:center;">&lt;Developed by: Sumit Sahay&gt;</h5>
  </div>

  <br>
  <div class="main">
    <form action="{{url_for('recommendProducts')}}" method="post">
      <label for="username">Enter Username</label><br><br>
      <input type="text" class="textbox" name="username" placeholder="Enter Username"><br>
      <input type="submit" class="submitbutton" value="Recommend Products">
    </form> 
    <!-- Displaying the Recommendations -->
    <br>
    <div class="result">
      {% for table in productsTable %}
        <h4>{{titles[loop.index]}}</h4>
        {{ table|safe }}  
      {% endfor %}
      <span class="error"> {{error}} </span>
    </div>

  </div>
</body>
